.page-basic-about {
  .section-body,
  .section-feature,
  .section-contact,
  .section-staff {
    padding: 3rem 0;
  }

  .section-body {
    h3 {
      width: 100%;
    }
  }

  .section-feature {
    background: $offwhite;
  }

  .section-contact {
    background: $purple;
    color: $white;
  }

  .section-staff {
    background: $lightgray;

    .row {
      margin-bottom: 3rem;
      background: $white;
      padding: 15px 0;
    }
  }
}
