.page-basic-about {
  .section-body,
  .section-feature,
  .section-contact,
  .section-staff {
    padding: 3rem 0;
  }

  .section-body {
    h3 {
      width: 100%;
    }
  }

  .section-feature {
    background: $offwhite;
  }

  .section-contact {
    background: $purple;
    color: $white;
  }

  .section-staff {
    background: $lightgray;

    .row {
      margin-bottom: 3rem;
      background: $white;
      padding: 15px 0;
    }
  }
}

.program-about {
  background-color: $altpurple;
  color: $white;

  .container-intro {
    padding: 3rem 0;
    background-size: cover;
    background-position: 48vw 0;
    background-repeat: no-repeat;
    box-shadow: 3px 3px 25px rgba($black, 0.35);
    z-index: 5;
    position: relative;

    h2,
    h3,
    h4,
    h5,
    p {
      color: $white;
    }

    @include respondto(xs, sm, md, lg) {
      background-position: 48vw 0;
    }

    @include respondto(xl) {
      background-position: 48vw 0;
    }

    .gray-ocean {
      display: none;
      position: absolute;
      left: 90vw;
      top: 0;
      height: 100%;
      width: 100vw;
      background-color: $gray;
    }
  }

  .container-tabs {
    z-index: 1;
    position: relative;
    overflow: hidden;
    background-color: $purple;
    min-height: 685px;

    .tab-content {
      margin-top: 7rem;
      padding-bottom: 1rem;

      .about-image {
        position: absolute;
        left: -585px;
        top: 0;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        height: 685px;
        width: 796px;
        max-width: 76%;
        z-index: 0;
        opacity: 1;
      }
    }

    .about-tabs {
      position: relative;
      display: inline-block;
      margin: 0;
      background: url(../images/bg5.png) no-repeat left top;
      height: 100%;
      min-height: 685px;
      margin-left: 500px;
      padding: 2rem 3rem;

      &::after {
        content: '';
        display: block;
        margin: 0;
        padding: 0;
        height: 100%;
        background: url(../images/bg4.png) no-repeat left top;
        position: absolute;
        left: -485px;
        top: 0;
        width: 485px;
        z-index: 1;
      }

      a,
      a:visited {
        color: $yellow;
        font-weight: 700;
      }

      a:hover,
      a:focus {
        color: $yellow;
        font-weight: 700;
      }
    }

    .nav-tabs {
      margin-bottom: 2rem;
      border-bottom: none;

      .nav-item {
        margin-left: 1rem;

        &:first-child {
          margin-left: 0;
        }

        .nav-link {
          font-size: 1.25rem;
          background-color: $lightgray;
          border-bottom: 4px solid $white;
          border: none;
          padding: 0.5rem 1rem;
          color: $darkgray;
          font-weight: 700;
          border-radius: 2px;

          &.active {
            color: $purple;
            box-shadow: 3px 3px 10px rgba($black, 0.15);
            background-color: $white !important;
            border-bottom: 4px solid $yellow;
          }
        }
      }
    }
  }
}

#about-tabs {
  position: absolute;
  top: 0;
  float: right;
  z-index: 3;
  width: 100%;
  margin-top: 3rem;

  li {
    display: inline-block;
    float: none;
  }

  .about-align {
    text-align: right;
    margin-right: 3rem;
  }
}
