.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.nav-utility,
.menu-utility-container {
  width: 100%;
}

.banner_utility {
  padding: 0.5rem 3rem;
  background-color: $altpurple;

  .nav {
    float: right;
  }

  .nav > li {
    a,
    a:visited {
      opacity: 0.75;
      color: $white;
    }

    a:hover {
      opacity: 1;
    }
  }
}

.banner_primary {
  background-color: $purple;
  padding: 0 2rem;

  .brand {
    padding: 24px 0;
    display: block;
  }

  .nav {
    position: relative;
    float: right;
  }

  .nav > li {
    font-size: 1.15rem;
    font-weight: 700;
    font-family: $font-headings;

    a {
      padding: 2rem 0.85rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    a,
    a:visited {
      color: $white;
    }

    a:hover {
      color: $gold;
    }

    .dropdown-menu {
      margin: 0;
      padding: $spacing-large;
      border: none;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: darken($purple, 10%);
      z-index: $z-index-dropdown-menu;

      @include border-radius(0);

      ul {
        margin: 0 0 $spacing-extra-large 0;
        padding: 0;
      }

      h2 {
        color: $lightgray;
        text-transform: none;
        font-size: 1.25rem;
      }

      > li a {
        text-transform: none;
        padding: 0.15rem 0;
        font-family: $font-sans;
        font-weight: 300;
      }
    }
  }
}

header {
  box-shadow: 0.2rem 0 1rem rgba($gray, 0.25);
  z-index: 1;
  position: relative;
}

// Show dropdown menu on hover
.menu-item-has-children:hover .dropdown-menu {
  display: block;
}

