.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.nav-utility,
.menu-utility-container {
  width: 100%;
}

.banner_utility {
  background-color: $white;
  padding: 0.5rem;

  .nav {
    float: right;
  }

  .nav > li {
    font-size: 0.85rem;

    a,
    a:visited {
      opacity: 0.75;
      color: $purple;
    }

    a:hover {
      opacity: 1;
    }
  }
}

.banner_primary {
  background-color: $purple;
  padding: 2rem;

  .nav {
    float: right;
  }

  .nav > li {
    font-size: 1.35rem;
    font-weight: 700;
    font-family: $font-headings;

    a,
    a:visited {
      color: $white;
    }

    a:hover {
      color: $gold;
    }
  }
}

header {
  box-shadow: 0.2rem 0 1rem rgba($gray, 0.25);
  z-index: 1;
  position: relative;
}
