.myths-slick {
  //padding: 2rem 0;

  .slick-slide {
    padding: 2rem;
    background-color: $offwhite;
    text-align: center;
    margin: 0 0.5rem;
    transform: scale(0.9);
    transition: all 300ms ease;
    border: 2px solid lighten($gray, 20);
    opacity: 0;
    cursor: pointer;

    &:hover {
      border: 2px solid $gray !important;
    }

    .myth {
      &--title {
        .fa {
          font-size: 0.5em;
          opacity: 0.5;
          line-height: 1em;

          &:first-of-type {
            margin-bottom: -0.5em;
            line-height: 0.5em;
          }
        }
      }

      &--busted {
        font-size: 1.25rem;
        color: $black;
        margin-top: 1rem;
      }

      &--reference {
        font-size: 0.85rem;
        font-weight: 700;
        color: $gray;
        text-transform: uppercase;
      }
    }

    &.slick-current {
      background-color: $white;
      transform: scale(1);
      border: 2px solid $gray;
    }

    &.slick-active {
      opacity: 1;
    }
  }
}
