.single-program .program-header {
  background-color: $darkgray;
  padding: 60px 0;

  .entry-title,
  &__city {
    color: $white;
    text-align: center;
  }

  &__city {
    text-transform: none;
    font-size: 1.5rem;
  }
}

.single-program .program-intro {
  margin: 30px 0;

  .btn {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 15px;

    @media (min-width: map-get($container-max-widths, sm)) {
      //font-size: 1rem;
    }

    @media (min-width: 1200px) {
      float: left;
      font-size: 1.25rem;
      width: 48%;
      margin-right: 1%;

      &--right {
        margin-left: 1%;
        margin-right: 0;
      }
    }
  }
}

.single-program .program-dates {
  background-color: $lightgray;

  h2 {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  &__date {
    font-size: 2.5rem;
    margin: 20px 0;

    &--app-deadline {
      color: $red;
    }
  }
}

.single-program .program-video {
  padding: 20px 0;

  &__blurb {
    padding: 20px 0;
  }
}

.single-program .program-meta {
  padding: 20px 0;
  background-color: $lightgray;

  &__label {
    font-size: 1.5rem;

    .fa {
      display: inline-block;
      width: 1.5em;
      text-align: center;
    }
  }

  &__comma-list,
  &__break-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    > li {
      line-height: 1.3em;
      margin-bottom: 0.3em;
    }
  }

  &__comma-list {
    display: inline;

    > li {
      display: inline;
      margin: 0;

      &::after {
        content: ', ';
      }

      &:last-child::after {
        content: none;
        display: none;
      }
    }
  }
} // .single-program .program-meta

.single-program .tab-pane {
  padding: 30px 0;
}

.single-program .incoming-subfooter {
  position: relative;

  .tab-pane {
    padding: 0;
  }

  &__image {
    position: relative;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
  }

  &__map {
    height: 300px;
  }

  &__content {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $darkgray; // Fallback
    background-color: $black-transparent-50;
    width: 100%;
    //display: inline-block;
    padding: $spacing-extra-large;
    z-index: 5;
    text-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.25);
    color: $white;

    @media (min-width: map-get($container-max-widths, sm)) {
      width: auto;
      max-width: 50%;
    }

    h3 {
      color: $white;
    }
  }
} // .single-program .incoming-subfooter
