.program-slides {
  overflow: hidden;
}

.slick-thumbs {
  margin-top: 0.5rem;

  .slick-slide {
    margin: 0.5rem;
    background-color: $darkgray;
    overflow: hidden;

    img {
      opacity: 0.5625;
      width: 100%;
      height: auto;
      transition: all 240ms ease-in-out;
      border-bottom: 5px solid $lightgray;
    }

    &.slick-current,
    &:hover {
      img {
        cursor: pointer;
        opacity: 1;
        -webkit-filter: unset;
        filter: unset;
        border-bottom: 5px solid $yellow;
      }
    }
  }
}
