//Button specific variables
$button-primary-color:    $brand-primary;
$button-seconary-color:   $brand-secondary;

//Button Utility
.btn--hover-and-active-state {
  box-shadow: none;
}

// All Buttons
.btn {
  border: 2px solid $gray;
  color: $gray;
  background-color: transparent;
  font-family: $font-buttons;
  outline-color: $brand-primary;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  padding: 0.85em 1.2em;
  border-radius: 0;
  line-height: 1em;

  &:visited {
    color: $gray;
  }

  &:hover,
  &:active,
  &:focus {
    color: $brand-primary;
    border: 2px solid $brand-primary;
  }

  .fa {
    display: inline-block;
    margin-right: 8px;
  }
}

.btn-purple {
  @extend .btn;

  color: $white;
  background-color: $purple;
  border-color: $purple;

  &:hover,
  &:active,
  &:focus {
    color: $purple;
    background: $white;
  }
}

.btn-white {
  @extend .btn;

  color: $white;
  border-color: $white;

  &:hover,
  &:active,
  &:focus {
    color: $purple;
    background: $white;
  }
}

.btn-xl,
.btn-lg,
.btn-md,
.btn-sm,
.btn-xs {
  border-radius: 0;
}

.btn-xl {
  font-size: 1.5rem;
}

.btn-lg {
  font-size: 1.35rem;
}

.btn-md {
  font-size: 1.15rem;
}

.btn-sm {
  font-size: 1rem;
}

.btn-xs {
  font-size: 0.85rem;
}

.btn-tiny {
  font-size: 0.85rem;
  padding: 0.5em 0.75em;
}

//Button Styles
.btn-primary {
  background: $brand-primary;
  border: 2px solid $brand-primary;
  color: $white;

  &:visited {
    color: $white;
  }

  &:hover,
  &:active,
  &:focus {
    @extend .btn--hover-and-active-state;

    background: $white;
    color: $brand-primary;
    border: 2px solid $brand-primary;
  }
}

.btn-secondary {
  background: transparent;
  color: $gray;
  border: 2px solid $gray;

  &:visited {
    color: $gray;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus {
    color: $brand-primary;
    border: 2px solid $brand-primary;
  }
}

.btn-inverse {
  background: transparent;
  color: $gray;
  border: 2px solid $gray;

  &:visited {
    color: $gray;
  }

  &:hover {
    cursor: pointer;
  }

  &:hover,
  &:active,
  &:focus {
    color: $white;
    border: 2px solid $white;
  }
}

.btn-font-body {
  font-family: $font-body;
}

button {
  text-transform: uppercase;
  cursor: pointer;
}
