h1,
h2,
h3,
h4,
h5 {
  font-family: $font-headings;
}

h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  margin-bottom: 0.75em;
}

h3 {
  color: $brand-primary;
  font-size: 50px;
}

h4 {
  color: $brand-primary;
  font-size: 25px;
}
