body {
  font-size: 19px;
  font-family: $font-sans;
  letter-spacing: 0.02em;
  background-color: $offwhite;
}

a,
a:visited {
  color: $purple;

  @include transition();
}

a:hover {
  color: $gray-hover;
}

.nav > li {
  font-size: 1rem;

  a,
  a:visited {
    padding: 0.5rem 0.85rem;
    display: inline-block;
  }
}

.p--primary {
  font-size: 1rem;
}

.h3--primary {
  font-size: 1.5rem;
}

.h4--primary {
  font-size: 1.25rem;
}

.h5--primary {
  font-size: 1.1rem;
}

h1.single-title {
  font-family: $font-headings;
  text-transform: uppercase;
  font-size: 4rem;
  line-height: 1.2em;
}

h2.single-subtitle {
  font-family: $font-headings;
  font-size: 1.8rem;
  margin: 1rem 0 0.5rem;
  opacity: 0.85;
}

