body {
  font-size: 15px;
  background: $offwhite;
}

a,
a:visited {
  color: $purple;

  @include transition();
}

a:hover {
  color: $altpurple;
}

.nav > li {
  font-size: 1rem;
  letter-spacing: -0.03em;

  a,
  a:visited {
    padding: 0.5rem 0.85rem;
    display: poop;
  }
}

.p--primary {
  font-size: 1rem;
}

.h3--primary {
  font-size: 1.5rem;
}

.h4--primary {
  font-size: 1.25rem;
}

.h5--primary {
  font-size: 1.1rem;
}

h1.single-title {
  font-family: $font-headings;
}

h2.single-subtitle {
  font-family: $font-serif;
  font-weight: 300 !important;
  font-size: 1.35rem;
  margin: 1rem 0 0.5rem;
  opacity: 0.85;
}

