@import url('https://fonts.googleapis.com/css?family=News+Cycle');

@font-face {
  font-family: 'Trade Gothic LT Com Bold Cn';
  src: url('../fonts/TradeGothicLTCom-BdCn20.eot');
  src:
    url('../fonts/TradeGothicLTCom-BdCn20.eot?#iefix') format('embedded-opentype'),
    url('../fonts/TradeGothicLTCom-BdCn20.woff2') format('woff2'),
    url('../fonts/TradeGothicLTCom-BdCn20.woff') format('woff'),
    url('../fonts/TradeGothicLTCom-BdCn20.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

