/*
  constants
 */

// variables
$enable-flex: false; // requested by VC for outdated browser support

// brand colors
$purple: #46166b;
$altpurple: #602481;
$gold: #eeb211;
$gray: #97a4af;
$teal: #006c68;

$gray-hover: #555;

$white: #fff;
$black: #000;
$black-transparent-50: rgba(0, 0, 0, 0.5);

// grays
$lightgray: lighten($gray, 16);
$midgray: #666;
$darkgray: darken($gray, 40);
$offwhite: lighten($gray, 23);

//alts
$altpurple: #602481;
$altgray: darken($gray, 8);
$altteal: desaturate($teal, 33);

// tertiary
$deep-brown: darken($gold, 15);

//fonts
$font-sans: 'News Cycle', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
$font-serif: 'Trajan Pro', 'Times New Roman', Times, serif;
$font-headings: 'Trade Gothic LT Com Bold Cn', Arial, Sans-serif;
$font-buttons: $font-headings;

// bootstrap
$brand-primary: $purple;
$brand-secondary: $gray;

/*
  treatments
 */

// container width
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1300px
) !default;

// font colors
$font-dark-body-color: $gray;
$font-body: $gray;

// spacing
$spacing-small:         5px;
$spacing-medium:        10px;
$spacing-large:         20px;
$spacing-extra-large:   40px;

// z-index
$z-index-banner: 10;
